[Unit]
Description=Apache Spark Service Worker
After=network.target
Documentation=https://spark.apache.org/docs/latest/

[Service]
Type=forking
User=longnguyen
Group=longnguyen

# Start command
ExecStart=/home/longnguyen/spark/spark-4.0.0-bin-hadoop3/sbin/start-worker.sh spark://node-2:7077

# Stop command
ExecStop=/home/longnguyen/spark/spark-4.0.0-bin-hadoop3/sbin/stop-worker.sh

# Restart policy
Restart=on-failure
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=spark-service

[Install]
WantedBy=multi-user.target

