[Unit]
Description=Spark Thrift Server
After=network.target spark-master.service

[Service]
Type=forking
User=longnguyen
Group=longnguyen
Environment="SPARK_HOME=/home/longnguyen/spark/spark-4.0.0-bin-hadoop3"
Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
ExecStart=/home/longnguyen/spark/spark-4.0.0-bin-hadoop3/sbin/start-thriftserver.sh \
  --master spark://node-2:7077 \
  --driver-memory 4g \
  --executor-memory 4g \
  --executor-cores 2 \
  --num-executors 2 \
  --total-executor-cores 4 \
  --conf spark.sql.thriftServer.incrementalCollect=true \
  --conf spark.scheduler.mode=FAIR \
  --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension \
  --conf spark.local.dir=/home/longnguyen/thrift-server/tmp \
  --conf java.io.tmpdir=/home/longnguyen/thrift-server/tmp \
  --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog \
  --conf spark.hadoop.fs.gs.impl=com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem \
  --conf spark.hadoop.fs.AbstractFileSystem.gs.impl=com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS \
  --conf spark.hadoop.google.cloud.auth.service.account.enable=true \
  --conf spark.hadoop.google.cloud.auth.service.account.json.keyfile=/home/longnguyen/credentials/key.json
ExecStop=/opt/spark/sbin/stop-thriftserver.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

